:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: white;
    --icon-color: #afb1b8;
    --press-color: #188ce8;
    --active-color: #2196f3;

    --background-section: #2f303a;
    --secondary-backgroun: #f5f4fa;
    --background-hero: #c4c4c4;

    --border-color: #ececec;
    --second-border-color: #eeeeee;
}