.footer-contener {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 15px;
    @media (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    @media (min-width:1200px) {
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: nowrap;

    }
}
.footer-address{
    @media (max-width:1200px) {
        text-align: center;        
    }
    &__list {
     margin: 0;
        }
    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    &__contact {
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
             color: var(--active-color);
            }
    }
    &__map {
        color: var(--accent-color);
        font-style: normal;
        transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          color: color var(--active-color);
            }
    }

}
.footer-sosial{
    &__contener {
            display: flex;
            flex-direction: column;

         @media (max-width:1200px) {
            align-items: center;
            }
        }
    &__list {
        display: flex;
        gap: 10px;
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        fill: var(--accent-color);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--accent-color);
            background-color: var(--active-color);
            }
    }
}

.footer-headline {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.142;
    color: var(--accent-color);
    @media (max-width:1200px) {
    text-align: center;
    }
}

.form-fiel {
    &__footer{
    display: flex;
    align-items: center;

    @media (max-width:1200px) {
        justify-content: center;
        flex-direction: column;;       
    }
}
    &__sub-email {
        margin-right: 12px;
        padding: 0 12px 0 16px;
        max-width: 358px;
        height: 50px;
        color: var(--accent-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        @media (max-width:1199px) {
         margin:0 0 20px;
         max-width: 450px;
         }
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            font-weight: 400px;
            line-height: 1.25;
        }
     }
}
.footer-buttom {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    width: 200px;
    fill: var(--accent-color);
    background-color: var(--active-color);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 0.06em;
    transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--press-color);
     }
    &__icon {
        margin-left: 10px;
    }
}