.client{
    &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            align-items: center;
            justify-content: center;
            
    }
    &__item {
        max-width: 210px;
        height: 92px;
        flex-basis: calc((100% - 30px) / 2);
        @media (min-width:768px) {
        flex-basis: calc((100% - 60px) / 3);
        max-width: 262px;
        }
        @media (min-width:1200px) {
        flex-basis: auto;
        max-width: 170px;
        }
        
    }
    &__contener {
        width: 100%;    
        height: 100%;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        fill: var(--icon-color);
        border-radius: 4px;
        border: 1px solid var(--icon-color);
        transition: border, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--active-color);
            border: 1px solid var(--active-color);
            }
         @media (max-width:1199px) {
             height: 100%;
         }
    }
    
}
