.team{
    &__section {
        background-color: var(--secondary-backgroun);

     }
    &__list {
        display: flex;
        flex-direction: column;       
        gap: 30px;
        align-items: center;
        justify-content: center;
        @media (min-width:768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (min-width:1151px) {
          /*   margin: -15px; */
            flex-wrap: nowrap;
        }
        @media (min-width:1200px) {
            flex-wrap: nowrap;
            margin: 0;
            }
    }
    &__item {
        background-color: var(--accent-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media (min-width:768px) {
             max-width: 354px;
            flex-basis: calc((100% - 30px) / 2);}
        /* @media (min-width:1151px) {
            margin: 15px;            
        } */
        @media (min-width:1200px) {
            margin: 0;
         }
    }
    &__item-img{
        width: auto;
    }
    &__contener {
        padding: 30px 0 30px;
    }
    &__title {
        margin-bottom: 10px;
        color: var(--title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.1719;
        text-align: center;
    }
}
.job-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.1719;
    text-align: center;
    font-style: normal;
}

.sosial__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sosial__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--icon-color);
    border-radius: 50%;
    transition: background-color, fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        background-color: var(--active-color);
        }
}